
@{
    ViewData["Title"] = "Get Neighborhoods";
}

<h1>Neighborhoods</h1>


<div class="table-responsive" style="padding-bottom: 60px;">

    <table id="hoods" class="table table-condensed align-middle table-sm table-bordered table-hover" style="font-size: 8.5px;">

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Zip</th>
                <th scope="col">Radius</th>
            </tr>
        </thead>

        <tbody id="tbodyid">
        </tbody>
    </table>
</div>
<br />
<div>
    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-secondary float-right" data-toggle="modal" data-target="#exampleModalCenter">
            Add Neighborhood
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form asp-action="getNeighborhoods" asp-controller="Neighborhoods" method="post" onsubmit="return checkInput()">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="hood_name">Neighnorhood Name</label>
                                    <input id="validationTextarea" type="text" class="form-control" name="neighborhood_name" placeholder="Neighnorhood Name" required>
                                    <div class="invalid-feedback">
                                        Max character length is 10!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="latitude">Latitude</label>
                                    <input id="validationTextarea1" type="text" class="form-control" name="latitude" placeholder="Latitude" required>
                                    <div class="invalid-feedback">
                                        Max character length is 10!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="longitude">Longitude</label>
                                    <input id="validationTextarea2" type="text" class="form-control" name="longitude" placeholder="Longitude" required>
                                    <div class="invalid-feedback">
                                        Max character length is 10!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationServer03">City</label>
                                    <input id="validationTextarea3" type="text" class="form-control" name="city" placeholder="City" required>
                                    <div class="invalid-feedback">
                                        Max character length is 10!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationServer04">State</label>
                                    <input id="validationTextarea4" type="text" class="form-control" name="state" placeholder="State" required>
                                    <div class="invalid-feedback">
                                        Max character length is 2!
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationServer05">Zip</label>
                                    <input id="validationTextarea5" type="text" class="form-control" name="zip" placeholder="Zip" required>
                                    <div class="invalid-feedback">
                                        Max character length is 5!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="radius">Radius in Feet</label>
                                    <input id="validationTextarea6" type="text" class="form-control" name="feet_radius" placeholder="Radius in Feet" required>
                                    <div class="invalid-feedback">
                                        Max character length is 10!
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="submit">Save</button>
                            </div>
                        </form>
                        <br />
                        <div class="mx-auto" style="width: 10px;">
                            <a style="font-weight: bold;">
                                OR
                            </a>
                        </div>
                        <br/>
                        <div>
                            <form asp-action="fileLoader" asp-controller="Neighborhoods" method="post" enctype="multipart/form-data" class="float-left" >
                                <div class="input-group">
                                    <div class="custom-file">
                                        <label class="custom-file-label" for="file"  id="file-label" >Input .csv file only</label>
                                        <input type="file" class="custom-file-input" id="file" name ="file">
                                    </div>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit">Upload</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            All();
        });

        function All() {
            $('#hoods').DataTable().destroy();
            $("#hoods").DataTable({

                dom: 'B<"clear">lfrtip',
                /*responsive: true,*/
                buttons: {
                    name: 'primary',
                    buttons: ['copy', 'pdf', 'csv']
                },

                //dom: 'l<"toolbar">frtip',
                //preDrawCallback: function () {
                //    $("div.toolbar")
                //        .html('<button id="active-btn" class="btn btn-outline-dark sm" style="float:left; line-height: 1.19; margin-left: 10px;" onclick="All()">All</button>');
                //},
                "ajax": {
                    url: "/Neighborhoods/FetchData",
                    dataSrc: "neighborhoods",
                    type: "GET",
                    datatype: "json",
                    order: [[1, 'asc']]
                },

                "columns": [
                    {
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "neighborhood_name" },
                    { "data": "latitude" },
                    { "data": "longitude" },
                    { "data": "city" },
                    { "data": "state" },
                    { "data": "zip" },
                    { "data": "feet_radius" }
                ]
            });
        }

        //Changing the name of the file inputed
        $('#file').change(function(e) {
            let fileName = (e.target.files.length > 0) ? e.target.files[0].name : 'choose_file_not';
            $('#file-label').text(fileName);
        });


        const input = document.querySelector("#validationTextarea");
        const input1 = document.querySelector("#validationTextarea1");
        const input2 = document.querySelector("#validationTextarea2");
        const input3 = document.querySelector("#validationTextarea3");
        const input4 = document.querySelector("#validationTextarea4");
        const input5 = document.querySelector("#validationTextarea5");
        const input6 = document.querySelector("#validationTextarea6");

        function checkInput() {
          var value = document.getElementById("validationTextarea").value;
          var value1 = document.getElementById("validationTextarea1").value;
          var value2 = document.getElementById("validationTextarea2").value;
          var value3 = document.getElementById("validationTextarea3").value;
          var value4 = document.getElementById("validationTextarea4").value;
          var value5 = document.getElementById("validationTextarea5").value;
          var value6 = document.getElementById("validationTextarea6").value;

           //Field 0 Neighnorhood Name
          if (value.length <= 10 && value.length > 0) {
            input.classList.add("is-valid");
            input.classList.remove("is-invalid");
          } 
          else
          {
            input.classList.remove("is-valid");
            input.classList.add("is-invalid");
            return false;
          }

          //Field 1 Latitude
          if (value1.length <= 10 && value1.length > 0) {
            input1.classList.add("is-valid");
            input1.classList.remove("is-invalid");
          } 
          else
          {
            input1.classList.remove("is-valid");
            input1.classList.add("is-invalid");
            return false;
          }

           //Field 2 Longitude
          if (value2.length <= 10 && value2.length > 0) {
            input2.classList.add("is-valid");
            input2.classList.remove("is-invalid");
          } 
          else
          {
            input2.classList.remove("is-valid");
            input2.classList.add("is-invalid");
            return false;
          }

           //Field 3 City
          if (value3.length <= 10 && value3.length > 0) {
            input3.classList.add("is-valid");
            input3.classList.remove("is-invalid");
          } 
          else
          {
            input3.classList.remove("is-valid");
            input3.classList.add("is-invalid");
            return false;
          }

          //Field 4 State
          if (value4.length <= 2 && value4.length > 0) {
            input4.classList.add("is-valid");
            input4.classList.remove("is-invalid");
          } 
          else
          {
            input4.classList.remove("is-valid");
            input4.classList.add("is-invalid");
            return false;
          }

          //Field 5 Zip
          if (value5.length <= 5 && value5.length > 0) {
            input5.classList.add("is-valid");
            input5.classList.remove("is-invalid");
          } 
          else
          {
            input5.classList.remove("is-valid");
            input5.classList.add("is-invalid");
            return false;
          }
            //Field 6 Radius in Feet
          if (value6.length <= 10 && value6.length > 0) {
            input6.classList.add("is-valid");
            input6.classList.remove("is-invalid");
          } 
          else
          {
            input6.classList.remove("is-valid");
            input6.classList.add("is-invalid");
            return false;
          }
        }

    </script>
}